<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<style>

.celdas{

/*background: url("https://raw.githubusercontent.com/reneAguilar777/buscaMina/master/views/img/celda.jpg");*/
background: url("/img/celda.jpg");
color: red;
width: 40px;
height: 40px;
}

</style>

<script>

$(document).ready(function() {
		$("#tablero tr td").on('click', function(event) {
			event.preventDefault();
			
			

			$.ajax({
				url: '/validarCelda',
				type: 'POST',
				dataType: 'json',
				data: {posicion: $(this).attr('id')},
				success: function(data){
			

				if(data==true){
					window.location.href = "/perdio";
				}
				else{
					window.location.href = "/gano";
				}
					
				}
			});
			
		});
	});

</script>



<table id="tablero" border="1">

<tr>

<td id="11" class="celdas" >

</td>

<td id="12" class="celdas" >

</td>


</tr>

</table>
