<script src="jquery-3.3.1.min.js"></script>

<style>

.celdas{
background: url("/img/celda.jpg");
color: red;
width: 40px;
height: 40px;
}

.celdaVacia{
background: url("/img/libre.jpg");
color: red;
width: 40px;
height: 40px;
opacity: 0.4;
}

body{
background: url("bg.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-position-y: -80px;
text-align: center;
}

div{
background-color: rgba(255,255,255,0.2);
color: white;
margin-top: 50px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}

#tablero{
display: inline-block;

}

</style>

<script>

$(document).ready(function() {
		var contador = 0;
		$("#tablero tr td").on('click', function(event) {
			event.preventDefault();
			
			var p = $(this).attr('id');

			$.ajax({
				url: '/validarCelda',
				type: 'POST',
				dataType: 'json',
				data: {posicion: p},
				success: function(data){
			

				if(data==true){
					window.location.href = "/perdio";
				}
				else{

					$("#"+p).addClass("celdaVacia");
					$("#"+p).removeClass("celdas");
					contador++;
				if(contador == <%=(@nivel.to_i*@nivel.to_i)-3%>){
					window.location.href = "/gano";
				}
					

					
					
				}
					
				}
			});
			
		});
	});

</script>





<div>
<h3>Bienvenido jugador <%= @nombre %></h3>
<br>


<table id="tablero" border="1">
<% (1..@nivel.to_i).each do |i| %>
<tr>

<% (1..@nivel.to_i).each do |j| %>
<td id='<%= "#{j+(@nivel.to_i*(i-1))}" %>' class="celdas"> </td>

<% end %>

</tr>

<% end %>
</table>
<br><br>
<a href="http://localhost:4567/inicio"><button>Regresar</button></a>

</div>
