<h5>Bienvenido, ingrese su nombre y nivel</h5>

<form method="get" action="/juego">
Nombre: <input type="text" name="nombre">

Nivel: <select name="nivel">
<option value="2">Básico</option>
<option value="4">Intermedio</option>
<option value="5">Avanzado</option>
</select>
<input type="submit" value="comenzar">

</form>
